.Rproj.user
.Rhistory
.RData
.Ruserdata
data_tidy/*
data-raw/*.xml
data-raw/*.zip
data-raw/*.rar
data-tidy/*.rds
data-raw/*.csv
data-raw-old/
ignore/*
data-tidy/*

data_raw/2016/*.zip
data_raw/2017/*.zip
data_raw/2018/*.zip
data_raw/2019/*.zip
data_raw/2020/*.zip
data_raw/2021/*.zip

data_bkp/2016/*.zip
data_bkp/2017/*.zip
data_bkp/2018/*.zip
data_bkp/2019/*.zip
data_bkp/2020/*.zip
data_bkp/2021/*.zip